.jumbotron {
  padding-top: 15px;
  padding-bottom: 15px;
  margin-bottom: 15px;

}
.card {
  padding-top: 30px;
  padding-bottom: 30px;
  margin-bottom: 30px;
}
#gameScreen {
  display: none;
  background-color: red;
}
.opacityFilter {
opacity: 0.5;
}
/* #playerCard{
  float: right;
} */

body {
  background-image: url("https://i.pinimg.com/originals/8a/10/92/8a10926e5edd4273c7b074ee6489d3e6.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;

}
img.icon {
  height: 50px;
  width:  50px;
}
img.iconAlter {
  height: 35px;
  width:  35px;
}
img.player {
height: 700px;
width: 350px;
padding-top: 15px;
padding-bottom: 15px;
padding-right: 15px;
padding-left: 15px;

}
img.opponent {
  height: 700px;
  width: 850px;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-right: 15px;
  padding-left: 15px;

}
